##
# put this in ~/.gitconfig
#[include]
#	path = /home/bpayne/Code/mine/dotfile/.gitconfig
[user]
name = Brian Payne
email = bwpayne@gmail.com
[alias]
q = "!f() { echo \"Repository: $(basename $(git rev-parse --show-toplevel))\"; git status --porcelain --branch; echo ''; }; f"
all = for-each-repo --config=mine.repo
