##
# put this in ~/.gitconfig
#[include]
#	path = /home/bpayne/Code/mine/dotfile/.gitconfig
[user]
name = Brian Payne
email = bwpayne@gmail.com
[alias]
q = !git rev-parse --show-toplevel && git status --porcelain --branch | xargs -I{} echo '    {}'
all = for-each-repo --config=mine.repo
